main {
    min-height: 80vh; 
    
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .mr-auto {
            a {
                text-transform: uppercase;
            }
        }
    }

}

